.container {
    display: flex;
    margin: 15px 0 15px 0;

    div {
        padding-right: 10px;
    }

    div.input-container {
        display: contents;

        input {
            width: 100%;
            height: calc($medium + 7px);
            font-size: $medium;
            color: $primary;
            background: transparent;
            border: none;
        }
    }

}