@import "../base/variables"

.container
    white-space: pre-line
    display: flex

    div
        padding-right: 10px

    div.input-container
        display: contents

        input
            width: 100%
            height: calc($medium + 7px)
            font-size: $medium
            color: $primary
            background: transparent
            border: none
