#&nbsp;type --help for more information
<div class="container">
    <div>
        #&nbsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio nihil iure suscipit cumque iusto repellat
        voluptatem
        sunt autem temporibus? Architecto, culpa quas exercitationem eos fugit aut sequi odit similique quo!
    </div>
</div>
<div class="container">
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio nihil iure suscipit cumque iusto repellat
        voluptatem
        sunt autem temporibus? Architecto, culpa quas exercitationem eos fugit aut sequi odit similique quo!
    </div>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio nihil iure suscipit cumque iusto repellat
        voluptatem
        sunt autem temporibus? Architecto, culpa quas exercitationem eos fugit aut sequi odit similique quo!
    </div>
</div>
<div class="container">
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio nihil iure suscipit cumque iusto repellat
        voluptatem
        sunt autem temporibus? Architecto, culpa quas exercitationem eos fugit aut sequi odit similique quo!
    </div>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio nihil iure suscipit cumque iusto repellat
        voluptatem
        sunt autem temporibus? Architecto, culpa quas exercitationem eos fugit aut sequi odit similique quo!
    </div>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio nihil iure suscipit cumque iusto repellat
        voluptatem
        sunt autem temporibus? Architecto, culpa quas exercitationem eos fugit aut sequi odit similique quo!
    </div>
</div>
<div class="container">
    <app-input-term></app-input-term>
</div>
<router-outlet></router-outlet>