/* You can add global styles to this file, and also import other style files */
body 
    background-color: black
    color: springgreen
    font-size: 18px
    padding: 20px
    line-height: 1.5
    font-family: 'Roboto Mono'
